In [2]:
import pandas as pd
from pandas import DataFrame,Series
import numpy as np
import os
import matplotlib.pyplot as plt
data=pd.read_excel('Downloads//data.xlsx',sheet_name='binom')

In [3]:
data

       Card_ID  Campaign_Responce Registration_Date Gender Birth_Date
0    100005950              False        1998-11-18      M 1984-02-06
1    100022191               True        1999-09-15      F 1959-09-11
2    100025442              False        1998-05-12      M 1970-08-25
3    100026513              False        1999-02-12      M 1951-03-12
4    100039145              False        2000-08-12      M 1949-06-08
..         ...                ...               ...    ...        ...
292  106472843              False        2000-11-07      M 1949-04-27
293  106497996              False        2001-07-24      F 1965-11-08
294  106517133              False        1999-04-25      M 1969-09-26
295  106542819              False        1999-06-10      M 1971-02-26
296  106580662              False        2000-08-05      M 1947-05-07

[297 rows x 5 columns]

In [11]:
#data.groupby('Gender').agg({'Gender':'size'})
data.groupby('Gender')['Gender'].count()

Gender
F    127
M    170
Name: Gender, dtype: int64

In [24]:
data[data['Gender']=='M'].query("Campaign_Responce==True").shape[0]/170

0.1411764705882353

In [30]:
import scipy.stats as ss
from scipy.stats import nbinom
nbinom.pmf(2,3,0.67)

0.19651854419999992

In [42]:
from scipy.stats import geom
geom.pmf(20,0.02) #geom(x,p)

0.013624652484797842

In [43]:
from scipy.stats import norm
norm(195,25).cdf(180)

0.2742531177500736

In [3]:
d={'calls per minute':[0,1,2,3,4,5,6,7],'Frequency':[4,15,42,60,89,94,52]}
fr=DataFrame(d)
print(fr)

   calls per minute  Frequency
0                 0          4
1                 1         15
2                 2         42
3                 3         60
4                 4         89
5                 5         94
6                 6         52

In [69]:
d=DataFrame({'calls':np.arange(0,8,1),'Freq':[4,15,42,60,89,94,52,80]})
d

   calls  Freq
0      0     4
1      1    15
2      2    42
3      3    60
4      4    89
5      5    94
6      6    52
7      7    80

In [70]:
from scipy.stats import poisson
prob=[]
for x in np.arange(0,7,1):
    p=poisson.pmf(x,5)
    prob.append(p)

In [77]:
prob

[0.006737946999085467,
 0.03368973499542734,
 0.08422433748856832,
 0.1403738958142805,
 0.17546736976785063,
 0.17546736976785068,
 0.1462228081398754]

In [72]:
np.arange(0,7,1)

array([0, 1, 2, 3, 4, 5, 6])

In [81]:
proba = prob + [1-poisson.cdf(6,5)]

In [82]:
proba

[0.006737946999085467,
 0.03368973499542734,
 0.08422433748856832,
 0.1403738958142805,
 0.17546736976785063,
 0.17546736976785068,
 0.1462228081398754,
 0.2378165370270613]

In [83]:
d['prob']=proba
d['exp']=d['Freq'].sum()*d['prob']

In [84]:
d

   calls  Freq      prob         exp
0      0     4  0.006738    2.937745
1      1    15  0.033690   14.688724
2      2    42  0.084224   36.721811
3      3    60  0.140374   61.203019
4      4    89  0.175467   76.503773
5      5    94  0.175467   76.503773
6      6    52  0.146223   63.753144
7      7    80  0.237817  103.688010

In [87]:
from scipy.stats import chisquare

chisquare(d['Freq'],d['exp'])

Power_divergenceResult(statistic=14.793869789717073, pvalue=0.03873436246998954)

In [89]:
data=pd.read_excel('Downloads//data.xlsx',sheet_name='time')

In [91]:
data.shape

(59, 1)

In [6]:
import pandas as pd
import numpy as np 
import scipy.stats as ss
from scipy.stats import norm
norm(970,768.67).cdf(896)

0.46165299660358766

In [97]:
np.std(data['TimeSpent']) #shift+tab

762.1309071795038

In [5]:
norm(970,768.67).cdf(896)

0.46165299660358766

In [7]:
sys1=[35,30,40,29,43,34]
sys2=[49,33,37,41,29,39]
sys3=[31,27,33,30,42,27]
ss.f_oneway(sys1,sys2,sys3)

F_onewayResult(statistic=1.6646248085758037, pvalue=0.22238183019416713)

In [12]:
crop=pd.read_csv("https://raw.githubusercontent.com/Opensourcefordatascience/Data-sets/master/crop_yield.csv")
crop
#scipi there is no way two way anove
#using stats model we can build linear model

   Fert Water  Yield
0     A  High   27.4
1     A  High   33.6
2     A  High   29.8
3     A  High   35.2
4     A  High   33.0
5     B  High   34.8
6     B  High   27.0
7     B  High   30.2
8     B  High   30.8
9     B  High   26.4
10    A   Low   32.0
11    A   Low   32.2
12    A   Low   26.0
13    A   Low   33.4
14    A   Low   26.4
15    B   Low   26.8
16    B   Low   23.2
17    B   Low   29.4
18    B   Low   19.4
19    B   Low   23.8

In [7]:
df=pd.read_excel("Downloads/simple.xlsx",sheet_name='simple')
df.head()

    cost  tools
0  23.80      7
1  11.89      3
2  15.98      2
3  26.11      5
4  31.79      8

In [8]:
df.columns=['y','x']
df.head()

       y  x
0  23.80  7
1  11.89  3
2  15.98  2
3  26.11  5
4  31.79  8

In [11]:
df['x2']=df['x']**2
df['y2']=df['y']**2
df['xy']=df['x']*df['y']

In [12]:
df.head()

       y  x  x2         y2      xy
0  23.80  7  49   566.4400  166.60
1  11.89  3   9   141.3721   35.67
2  15.98  2   4   255.3604   31.96
3  26.11  5  25   681.7321  130.55
4  31.79  8  64  1010.6041  254.32

In [15]:
total=df.sum()
total

y      241.860
x       65.000
x2     567.000
y2    6810.197
xy    1896.620
dtype: float64

In [18]:
total[0]

241.86

In [22]:
#variance of x
var_x=(1/9)*(total[2]-((total[1])**2/10))
var_x

16.055555555555554

In [24]:
#covariance of xy
cov_xy=(1/9)*(total[4]-(total[1]*total[0])/10)
cov_xy

36.05888888888888

In [26]:
b1=cov_xy/var_x
b1

2.245882352941176

In [ ]:
#find linear relationship between daily electricity cost and number of tools manufactured.
#find linear equation ncalculate b0 and b1
#find b1 calculate covariance and variance of independent variable
#find b0 calculate mean

In [28]:
b0=df['y'].mean()-b1*df['x'].mean()
b0

9.587764705882355

In [ ]:
#least square line y=b0+b1x
#y=9.59 + 2.25 * x

In [9]:
from statsmodels.formula.api import ols
import statsmodels.api as sm # y is target
model= ols('y~x',df).fit()

In [ ]:
#hypothesis : b1=0 there is no impact of tools 
#alternate hypothesis : b1 is not zero 
#unit increase in tools the range of b1 will between 1.213 and 3.278(has to be positive)
#hypothesis on independent variable only

In [10]:
model.summary()

C:\Users\Ramya\Anaconda3\lib\site-packages\scipy\stats\stats.py:1450: UserWarning: kurtosistest only valid for n>=20 ... continuing anyway, n=10
  "anyway, n=%i" % int(n))

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.759
Model:                            OLS   Adj. R-squared:                  0.729
Method:                 Least Squares   F-statistic:                     25.16
Date:                Thu, 30 Jan 2020   Prob (F-statistic):            0.00103
Time:                        11:05:22   Log-Likelihood:                -29.904
No. Observations:                  10   AIC:                             63.81
Df Residuals:                       8   BIC:                             64.41
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept      9.5878      3.371      2.844      0.022       1.814      17.362
x              2.2459      0.448      5.016      0.001       1.213       3.278
==============================================================================
Omnibus:                        1.705   Durbin-Watson:                   1.946
Prob(Omnibus):                  0.426   Jarque-Bera (JB):                0.847
Skew:                          -0.264   Prob(JB):                        0.655
Kurtosis:                       1.676   Cond. No.                         15.1
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [11]:
model.params

Intercept    9.587765
x            2.245882
dtype: float64

In [12]:
#how to get predicted values
model.predict()

array([25.30894118, 16.32541176, 14.07952941, 20.81717647, 27.55482353,
       34.29247059, 20.81717647, 43.276     , 16.32541176, 23.06305882])

In [14]:
df['y']-model.predict()

0   -1.508941
1   -4.435412
2    1.900471
3    5.292824
4    4.235176
5    5.637529
6   -8.547176
7   -3.216000
8    5.054588
9   -4.413059
Name: y, dtype: float64

In [15]:
model.resid

0   -1.508941
1   -4.435412
2    1.900471
3    5.292824
4    4.235176
5    5.637529
6   -8.547176
7   -3.216000
8    5.054588
9   -4.413059
dtype: float64

In [17]:
num=(1/8)*((model.resid)**2).sum()
num

28.964354999999998

In [20]:
den=np.sum((df['x']-df['x'].mean())**2)
den

144.5

In [22]:
standarderro=np.sqrt(num/den)
standarderro

0.4477112499388409

In [32]:
df['x'].std()

4.006938426723769

In [33]:
df['y'].std()

10.331026839358977

In [38]:
#variance of x
var_x=(1/9)*(total[2]-((total[1])**2/10))
var_y=(1/9)*(total[3]-((total[0])**2/10))
sx=np.sqrt(var_x)
sx

4.006938426723769

In [37]:
#variance of y
sy=np.sqrt(var_y)
sy

10.331026839358977

In [41]:
#variance of x
r=cov_xy/(sx*sy)
r

0.8710762678126169

In [44]:
#coefficient of determination r^2
#measures the amount of variation in dependent variable that is explained by the variation in indedependent variable
#R^2 value represents 76% of variations in dependent variable is explained by independent variable

In [49]:
df=pd.read_excel("Downloads/simple.xlsx",sheet_name='ex')
df.columns=['y','x']
df['x2']=df['x']**2
df['y2']=df['y']**2
df['xy']=df['x']*df['y']
total=df.sum()
total

y      50
x      21
x2     91
y2    576
xy    212
dtype: int64

In [51]:
#variance of x
var_x=(1/5)*(total[2]-((total[1])**2/6))
var_x

3.5

In [52]:
#covariance of xy
cov_xy=(1/5)*(total[4]-(total[1]*total[0])/6)
cov_xy

7.4

In [53]:
b1=cov_xy/var_x
b1

2.1142857142857143

In [54]:
b0=df['y'].mean()-b1*df['x'].mean()
b0

0.9333333333333336

In [55]:
model= ols('y~x',df).fit()
#H0 : no impact of years on bonus
#H1 : impct of years on bonus is present

In [56]:
model.summary()

C:\Users\Ramya\Anaconda3\lib\site-packages\statsmodels\stats\stattools.py:71: ValueWarning: omni_normtest is not valid with less than 8 observations; 6 samples were given.
  "samples were given." % int(n), ValueWarning)

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.491
Model:                            OLS   Adj. R-squared:                  0.364
Method:                 Least Squares   F-statistic:                     3.858
Date:                Wed, 29 Jan 2020   Prob (F-statistic):              0.121
Time:                        15:35:02   Log-Likelihood:                -16.326
No. Observations:                   6   AIC:                             36.65
Df Residuals:                       4   BIC:                             36.23
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept      0.9333      4.192      0.223      0.835     -10.705      12.572
x              2.1143      1.076      1.964      0.121      -0.874       5.103
==============================================================================
Omnibus:                          nan   Durbin-Watson:                   3.341
Prob(Omnibus):                    nan   Jarque-Bera (JB):                0.556
Skew:                           0.120   Prob(JB):                        0.757
Kurtosis:                       1.528   Cond. No.                         9.36
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [57]:
#variance of y
var_x=(1/5)*(total[2]-((total[1])**2/6))
var_y=(1/5)*(total[3]-((total[0])**2/6))
sx=np.sqrt(var_x)
sx

1.8708286933869707

In [59]:
sy=np.sqrt(var_y)
sy

5.645056834671079

In [60]:
r=cov_xy/(sx*sy)
r

0.7006955813110701

In [61]:
r*r #less than 50% so insignificant

0.4909742976688585

In [24]:
#standard error of y(dependent variable)
df['y'].std()/np.sqrt(10)

3.266957538070483